.book .book-body .page-wrapper .page-inner section.normal .leaflet-bar a, .book .book-body .page-wrapper .page-inner section.normal .leaflet-bar a:hover {
    background-color: #fff;
    text-decoration: none;
    color: inherit;
}
.book .book-body .page-wrapper .page-inner section.normal .leaflet-bar .leaflet-control-fullscreen-button, .book .book-body .page-wrapper .page-inner section.normal .leaflet-bar .leaflet-control-fullscreen-button:hover {
    background-image: url(libs/lfx-fullscreen-1.0.2/css/fullscreen@2x.png);
    background-position: 2px 2px;
    background-size: 26px 52px;
}
.inline-figure{
  border: none;
}
